<div class="header">
  <h2>Controles de Resultados</h2>
  <div class="slider-container">
    <label for="results-slider">Resultados a mostrar:</label>
    <p-slider [(ngModel)]="resultsLimit"
              (ngModelChange)="onResultsLimitChange($event)"
              [min]="1"
              [max]="160"
              [step]="1"
              id="results-slider"></p-slider>
    <span>{{ resultsLimit }}</span>
  </div>

  <div class="animation-control">
    <label>Control de animación:</label>
    <p-selectButton [options]="animationOptions"
                    [(ngModel)]="animationState"
                    (ngModelChange)="onAnimationStateChange($event)">
      <ng-template let-option pTemplate="item">
        <i [class]="option.icon"></i>
        {{ option.label }}
      </ng-template>
    </p-selectButton>
  </div>
</div>
