<div class="header">
  <h2>Controles de Resultados</h2>
  <div class="slider-container">
    <label for="results-slider">Resultados a mostrar:</label>
    <p-slider [(ngModel)]="resultsLimit"
              (ngModelChange)="onResultsLimitChange($event)"
              [min]="1"
              [max]="160"
              [step]="1"
              id="results-slider"></p-slider>
    <span>{{ resultsLimit }}</span>
  </div>

  <div class="animation-control">
    <label>Control de animación:</label>
    <p-toggleButton [(ngModel)]="animationState"
                    (onChange)="onAnimationStateChange($event)"
                    onLabel="Play"
                    offLabel="Pause">
    </p-toggleButton>
  </div>

  <div class="animation-control">
    <label>Control de Órbita:</label>
    <p-toggleButton [(ngModel)]="showState"
                    (onChange)="onShowStateChange($event)"
                    onLabel="Show"
                    offLabel="Hide">
    </p-toggleButton>
  </div>
  
  <div class="animation-control">
    <label>Control de Nombres:</label>
    <p-toggleButton [(ngModel)]="show2State"
                    (onChange)="onShowStateChange($event)"
                    onLabel="Show"
                    offLabel="Hide">
    </p-toggleButton>
  </div>
</div>
