<p-dialog header="Información del Cometa" [(visible)]="displayDialog" [modal]="true" [closable]="false">
  <div class="info-row">
    <strong>Nombre del objeto:</strong>
    <p>{{ selectedCometName }}</p>
  </div>
  <div class="info-row">
    <strong>Velocidad de traslación:</strong>
    <p>{{ selectedCometDetails.speed }} km/h</p>
  </div>
  <div class="info-row">
    <strong>Periodo orbital:</strong>
    <p>{{ selectedCometDetails.period }} años</p>
  </div>
  <div class="info-row">
    <strong>Excentricidad:</strong>
    <p>{{ selectedCometDetails.eccentricity }}</p>
  </div>
  <div class="info-row">
    <strong>Inclinación:</strong>
    <p>{{ selectedCometDetails.inclination }}º</p>
  </div>
  <p-footer>
    <p-button label="Cerrar" (click)="displayDialog = false"></p-button>
  </p-footer>
</p-dialog>
