<app-header (resultsLimitChange)="onResultsLimitChange($event)" 
            (animationStateChange)="onAnimationStateChange($event)"
            (showOrbitStateChange)="onShowOrbitStateChange($event)"
            (showNameStateChange)="onShowNameStateChange($event)"            
            ></app-header>
<app-three-d-visualization [data]="data" [animationStatus]="animationState"
                                         [orbitStatus]="orbitState"
                                         [nameStatus]="nameState" ></app-three-d-visualization>